@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Barlow', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-condensed: 'Barlow Semi Condensed', 'Barlow', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #B240E5;
	--secondary-color: #5F4BE2;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(255, 255, 255, 1);
	--text-color: #ffffff;
	--background-without-opacity: rgba(255, 255, 255, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--background-color: rgb(26, 25, 28);
	--background-color-rgb: 26, 25, 28;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
	font-size: 1.15rem;
	color: var(--text-color);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 4rem 1rem;
}

h1,
h2,
h3,
h4,
p {
	font-weight: 300;
	color: var(--heading-color);
	line-height: 1.25;
}

p {
	line-height: 1.5;
	letter-spacing: .03rem;
}

a {
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.75rem;
	font-weight: 400;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.45;
}

h4 {
	font-size: 1.55rem;
	font-weight: 400;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

input, select, textarea {
	color: #fff;
	padding: 0.5rem;
	background: #222;
	border: 1px solid #333;
  font-size: 1.1rem;
	outline: 0;
	border-radius: 2px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #222 inset !important;
  -webkit-text-fill-color: white !important;
}

input:autofill {
	border-color: #333;
	background: #222;
}

input:focus {
	border-color: #aaa;
}

select {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: unset;
  -moz-appearance: unset;
	background-image:
    linear-gradient(45deg, transparent 50%, rgba(255,255,255,.8) 50%),
    linear-gradient(135deg, rgba(255,255,255,.8) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
	background-size:
    5px 5px,
    5px 5px;
	background-repeat: no-repeat;
}

#request fieldset, .hs-submit {
	margin: 0 auto;
}

.hs-form-field {
	margin: .5rem 0;
}

#request fieldset.form-columns-1 .hs-input, #request fieldset.form-columns-2 .hs-input {
	width: 100%;
}

#request fieldset.form-columns-1 .legal-consent-container .hs-input {
	width: auto;
}

#request fieldset.form-columns-1 .input, #request fieldset.form-columns-2 .input {
	margin: 0;
}

#request fieldset.form-columns-2 {
	display: flex;
	gap: 15px;
}

#request .hs-form-field label:not(.hs-form-booleancheckbox-display) {
	font-family: var(--font-condensed);
	font-size: 1rem;
	display: inline-block;
	padding-bottom: 4px;
	color: rgba(255,255,255,.6);
}

#request .hs-error-msgs label.hs-error-msg {
	color: #fffc6b;
}

.hs-submit, .form-consent {
	max-width: 500px;
	margin: 0 auto;
}

.form-consent p {
	font-size: .75rem;
	margin: .35rem 0;
}

.hs-form-booleancheckbox-display {
	display: flex;
	align-items: baseline;
	line-height: 1.2;
}

#request .legal-consent-container .field.hs-form-field {
	margin-bottom: 4px;
	margin-top: 12px;
}

#request .legal-consent-container .hs-form-booleancheckbox-display>span {
	margin-left: 5px;
}

#request .legal-consent-container .hs-form-booleancheckbox-display p {
	font-size: 1.1rem;
}

#request .hs-button.primary {
	padding: 10px 40px 12px;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.button, .hs-button.primary {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .05rem;
	display: flex;
	align-items: center;
	font-weight: 500;
	color: #fff;
}
.button.text-btn {
  font-size: .9rem;
  gap: 10px;
}
.button.text-btn img {
  width: 7px;
}
.button:hover {
	text-decoration: none;
}
.button.primary-btn, .hs-button.primary {
	border-radius: 2px;
	padding: 10px 20px 12px;
	margin: 20px 0;
	border: 1px solid;
	gap: 10px;
	transition: background 1s ease, border .25s ease;
	font-size: .95rem;
}
.button.primary-btn:hover, .hs-button.primary:hover {
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}

.box {
	padding: 1.75rem;
	padding-bottom: 2rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.9);
	min-height: 325px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 20px;
	transition: border .5s ease, box-shadow .5s ease;
	position: relative;
}
.box:hover {
	border: 1px solid rgba(255, 255, 255, 1);
	box-shadow: 15px 15px 30px rgba(236,117,255,.2);
	text-decoration: none;
}

.section-head {
	border-top: 1px solid rgba(255,255,255,.2);
	padding: 3vh 0 12vh;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 9vh;
}
.section-head label h2 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 400;
}

@media (min-width: 720px) {
	.container {
		padding: 14vh 2rem;
	}
	h1 {
		font-size: 4.25rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.9rem;
	}
	.box {
		padding: 2.25rem;
		padding-bottom: 5rem;
		min-height: 375px;
	}
	.button.primary-btn {
		border: 1px solid;
		padding: 12px 20px 14px;
		font-size: 1.15rem;
	}
	.button.text-btn {
    bottom: 2rem;
  }
  .button.text-btn {
    font-size: .9rem;
  }
	.section-head label h2 {
		font-size: 1.15rem;
	}

}
